<form action="/articles/<%= @article.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <ul>
    <li>
      <label for="title">Title</label>
      <input id="title" type="text" name="title" value="<%= @article.title %>" />
    </li>
    <li>
      <label for="content">Content</label>
      <input id="content" type="text" name="content"  value="<%= @article.content %>"/>
    </li>
  </ul>
  <input type="submit" />
</form>